networks:
  template_network:
    external: true

services:
  template_api:
    container_name: publishing_api
    # network_mode: host
    networks:
      - publishing_network
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: local
      args:
        PROJECT_DIR: ${PROJECT_DIR:-/app}
        SERVICE_PORT: ${API_PORT:-8000}
        REQUIREMENTS_FILE: ./requirements.local.txt
        NEXUS_PIP_IS_ENABLE: ${NEXUS_PIP_IS_ENABLE}
        NEXUS_PIP_USER: ${NEXUS_PIP_USER}
        NEXUS_PIP_PASSWORD: ${NEXUS_PIP_PASSWORD}
        NEXUS_PIP_URL: ${NEXUS_PIP_URL}
    env_file:
      - ./src/.env
    depends_on:
      template_redis:
        condition: service_healthy
      template_postgres:
        condition: service_healthy
      template_minio:
        condition: service_healthy
    ports:
      - "8000:${APP_PORT:-8000}"

  template_redis:
    image: redis:latest
    container_name: template_redis
    networks:
      - template_network
    environment:
      REDIS_HOST: ${REDIS_HOST:-redis}
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - template-redis-data:/data
    ports:
      - "6379:6379"


  template_minio:
    image: quay.io/minio/minio:latest
    container_name: publisher-minio
    networks:
      - template_network
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - publisher-minio-data:/data
      - publisher-minio-config:/root/.minio
    command: server /data --console-address ":9001"
    restart: unless-stopped

  template_postgres:
    image: postgres:17.5-alpine
    container_name: template_postgres
    networks:
      - template_network
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-test_db}
      PGUSER: ${POSTGRES_USER:-postgres}
      PGDATABASE: ${POSTGRES_DB:-test_db}
      PGDATA: "/var/lib/postgresql/data/pgdata"
      POSTGRES_INITDB_ARGS: "--locale-provider=icu --icu-locale=ru-RU"
      LANG: ru_RU.UTF-8
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "db_prod" ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
    volumes:
      - template-data:/var/lib/postgresql/data
    ports:
      - "5435:5432"


volumes:
  template-redis-data: { }
  template-data: { }
  template-minio-data: { }
  template-minio-config: { }
